@import '../../node_modules/vue-good-table/dist/vue-good-table.css';

// Override default styles of vue-good-table
table.vgt-table {
	&.bordered {
		th {
			border-color: $color-black;
			background: $color-grey;
			color: $color-black;

			&.sortable{
				&::before {
					border-top-color: darken($color-grey, 20);
				}

				&::after {
					border-bottom-color: darken($color-grey, 20);
				}
			}

			&.sorting-desc::before {
				border-top-color: $color-black
			}

			&.sorting-asc::after {
				border-bottom-color: $color-black
			}
		}

		td {
			border-color: $color-black;
			background: #f9f9f9;
			color: $color-black
		}
	}
}
