/* Common variables */

// Colors
$color-black: #222;
$color-white: #f1f1f1;
$color-grey: #ddd;

// From https://echarts.apache.org/en/option.html#color
$color-absent: #c23531;
$color-working: #2f4554;

// Max width of content
$max-width: 75rem;
