/* Common variables */

// Breakpoints
$screen-medium: 48rem; // 768px (iPad portrait)

// Colors
$color-black: #222;
$color-white: #f1f1f1;
$color-grey: #ddd;

// Max width of content
$max-width: 75rem;
